/* src/components/CarouselSlider.css */
.carousel-container {
    width: 80%;
    margin: 20px auto;
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  